* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato',sans-serif;
    background-color:#f8f9f9;
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 105px;
    background-color: #515050;
    box-shadow:10px 10px 50px rgba(0, 0, 0, 0.8);
    position: relative;
}

.main-content {
    padding: 0px 40px;
}

.logo img {
    max-width: 80px;
}

.title {
    font-size: 13px;
    font-weight: bold;
    flex: 1;
    text-align: start;
    margin: 10px;
    color:#ecf0f1  ;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color:#ecf0f1;
    font-size: 15px;
}

.nav-links a:hover {
    color: #245a91;
    background-color: transparent;
}
.hamburguer{
    display:none;
    flex-direction: column;
    cursor: pointer;
}

.bar{
    width: 25px;
    height: 3px;
    background-color: #ccc;
    margin: 4px 0;
    transition: 0.3s;
}
.members-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.single-column {
    width: 50%;
    margin-left: 25%;
}

.members-container.single-column {
    display: grid;
    grid-template-columns: 1fr;
}

.member-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: end;
}

.member-card a {
    color: #245a91;
    text-decoration: none;
    display: inline;
}

.member-card a:hover {
    color: #bac3cc;
}

.member-card img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}

.member-card h3 {
    text-align: center;
    justify-content: end;
    margin-top: 10px;
}

.toggle-view {
    padding: 10px 20px;
    background-color:#245a91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.toggle-view:hover {
    background-color:#dadada;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 105px;
    background-color:#515050;
    color:#ecf0f1 ;
    box-shadow:10px 10px 50px rgba(0, 0, 0, 0.8);
}

.footer-container h3 {
    font-size: 15px;
    flex: 1;
}

.footer-container p {
    font-size: 13px;
    line-height: 1.4;
}

.social-media  {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 20px;
}

.social-media img{
    width: 30px;
    color: #ccc;
}

.hero {
    position: relative; 
    display: flex;
}

.hero img {
    width: 100%;
    height: auto; /* Se adapta al tamaño del contenedor */
    padding: 0 60px;
}

.call-to-action {
    position: absolute;
    bottom:10%; /* Distancia desde la parte inferior */
    right:10%; /* Distancia desde el lado derecho */
    color: #fff;
    font-weight: bold; /* Texto blanco */
    border-radius: 5px; /* Bordes redondeados */
}

.call-to-action .btn {
    display: inline-block; /* Asegura que el botón sea un bloque interactivo */
    text-decoration: none; /* Sin subrayado */
    color: #fff; /* Color del texto */
    background-color:#817f7fe6; /* Color de fondo inicial */
    padding: 10px 60px; /* Espaciado interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, transform 0.3s; /* Animación suave */
}

.call-to-action .btn:hover {
    background-color: #0056b3; /* Cambia el fondo del botón al hacer hover */
    transform: scale(1.05); /* Efecto de agrandamiento */
    cursor: pointer; /* Cambia el cursor al estilo de mano */
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 30px repeat(1, 150px);
    gap:20px;
    padding: 20px 105px;
    height: 360px;
}

.title-home{
    grid-column:1/2 ;
    grid-row: 1;
    height: 20px;
}

.target1{
    grid-column:1/2 ;
    grid-row: 2;
    border: 2px solid black;
    height:260px;

}
.target1 h3{
    background-color: #ccc;
    border-bottom: 2px solid black;
    padding:2px 5px;
}

.target2{
    grid-column:2 ;
    grid-row:2;
    border: 2px solid black;
    display: grid;
    grid-template-rows:30px repeat(2, 12px);
    height:260px;
    
}
#weather-icon{
    width: 60px; /* Change the width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it's treated as a block element */
    margin: 20px auto; /* Center horizontally */
}

.target2 h3{
    grid-column: 1/3;
    background-color: #ccc;
    height: 28.6px;
    border-bottom: 2px solid black;
    padding:0 5px;
    
}

.target2 p{
    grid-column:2/3 ;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    
}
.target3 p{
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.target3{
    grid-column:3/4 ;
    grid-row: 2;
    border: 2px solid black;
    height:260px;

}
.target3 h3{
    background-color: #ccc;
    border-bottom: 2px solid black;
    padding:2px 5px;
}

.level3-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 20px 105px;
    gap: 10px;

}
.level3-container .member-card {
    border: 2px solid black;
    padding: 20px 60px;
}

.day-card {
    display: flex;
    background-color: #f9f9f9;
  }
  
  .columns {
    display: flex;
    width: 100%;
  }
  
  .icon-column {
    flex: 1;
    text-align: center;
  }
  
  .data-column {
    flex: 2;
    padding-left: 10px;
    text-align: center;
  }
  

@media (max-width: 1024px) {


    .hero {
        position: relative; 
        display: flex;
    }
    
    .hero img {
        width: 100%;
        height: auto; /* Se adapta al tamaño del contenedor */
        padding: 0 0px;
    }


    .container {
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows:0.5fr 1fr 1fr;
        gap:20px;
        padding: 20px 60px;
        height: 720px;
    }
    
    .title-home{
        grid-column:1 ;
        grid-row: 1;
        height: 10px;

    }
    
    .target1{
        grid-column:1/3 ;
        grid-row: 2;
        border: 2px solid black;
        height:260px;
    
    }
    .target1 h3{
        background-color: #ccc;
        border-bottom: 2px solid black;
    }
    
    .target2{
        grid-column:1/2;
        grid-row:3;
        border: 2px solid black;
        display: grid;
        grid-template-rows:30px repeat(2, 12px);
        height:260px;
        

    }

    #weather-icon{
        width: 30px; /* Change the width */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure it's treated as a block element */
        margin: 20px auto; /* Center horizontally */
    }
    .target2 h3{
        grid-column: 1/3;
        background-color: #ccc;
        height: 28px;
        border-bottom: 2px solid black;
        
    }
    
    .target2 p{
        grid-column:2/3 ;
        
    }
    .target3{
        grid-column:2/3 ;
        grid-row: 3;
        border: 2px solid black;
        height:260px;
    }
    .target3 h3{
        background-color: #ccc;
        border-bottom: 2px solid black;
    }
    .target3 p{
        padding-top: 8px;
    }
}



@media(max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .main-content {
        padding: 0px 40px;
    }

    .logo img {
        max-width: 50px;
    }

    h1 {
        font-size: 10px;
    }

    h3 {
        font-size: 8px;
    }

    .title {
        flex: 1;
        text-align: start;
        margin: 10px;
    }

    .nav {
        display: flex;
        gap: 1px;
    }

    .nav a {
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        font-size: 9px;
    }

    .members-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
        justify-items: center;
        place-items: center;
    }

    .members-container.single-column {
        display: grid;
        grid-template-columns: 1fr;
    }

    .member-card {
        width: 140px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 8px;
        align-items: center;
        text-align: center;
        justify-content: end;
    }

    .member-card img {
        max-width: 50%;
        height: auto;
        border-radius: 8px;
    }

    .member-card h3 {
        text-align: center;
        justify-content: end;
        margin-top: 20px;
        font-size: 15px;
    }

    .member-card p a {
        font-size: 5px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .footer-container h3 {
        font-size: 12px;
        flex: 1;
        padding-bottom: 8px;
    }

    .footer-container p {
        font-size: 10px;
        line-height: 20px;
        line-height: 1.3;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        justify-content: center;
        gap: 5px;
    }

    .social-media i {
        font-size: 20px;
    }

    .name-proyect {
        display: flex;
        flex-direction: column;
        padding-left: 40px;
    }

    .container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr 1fr;
        gap:20px;
        padding: 20px 60px;
        height: 900px;
    }
    
    .title-home{
        grid-column:1 ;
        grid-row: 1;
        height: 10px;
    }
    
    .target1{
        grid-column:1 ;
        grid-row: 2;
        border: 2px solid black;
        height:260px;
    
    }
    .target1 h3{
        background-color: #ccc;
        border-bottom: 2px solid black;
    }
    
    .target2{
        grid-column:1 ;
        grid-row:3;
        border: 2px solid black;
        display: grid;
        grid-template-rows:30px repeat(2, 12px);
        height:260px;
        

    }
    #weather-icon{
        width: 80px; /* Change the width */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure it's treated as a block element */
        margin: 20px auto; /* Center horizontally */
    }
    
    .target2 h3{
        grid-column: 1/3;
        background-color: #ccc;
        height: 21.6px;
        border-bottom: 2px solid black;
        
    }
    
    .target2 p{
        grid-column:2/3 ;
        
    }
    .target3{
        grid-column:1 ;
        grid-row: 4;
        border: 2px solid black;
        height:260px;
    }
    .target3 h3{
        background-color: #ccc;
        border-bottom: 2px solid black;
    }
    .level3-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        padding: 20px 105px;
        justify-items: center;
        gap: 20px;
       
    }
    

    .level3-container .member-card {
        border: 2px solid black;
        padding:20px  6px;
        width: 300px;
        height: 300px;
    }
    
}

@media (max-width: 768px){
    nav{
        justify-content: space-between;
    }
    .nav-links{
        display: none;
        position:absolute;
        top: 100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-links li{
        margin: 15px 0;

    }
    .hamburguer{
        display: flex;
    }
    .nav-links.show{
        z-index: 10;
        display: flex;
        background-color:  #515050;;
    }

}

@media (max-width: 768px) {
    .call-to-action {
        bottom: 10%; /* Ajuste de posición en pantallas más pequeñas */
        right: 15%;
        padding: 8px 20px; /* Reduce el padding */
    }

    .call-to-action .btn {
        font-size: 0.9em; /* Tamaño de texto menor */
        padding: 8px 20px; /* Ajuste en el tamaño del botón */
    }
}

@media (max-width: 480px) {
    .call-to-action {
        bottom: 10%; /* Más cercano al borde en pantallas muy pequeñas */
        right: 20%;
    }

    .call-to-action .btn {
        font-size: 0.8em; /* Tamaño aún más reducido */
        padding: 3px 8px; /* Botón más compacto */
    }
}


