@media only screen and (min-width: 64rem){
    #allplaces{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #allplaces div img{
        max-width: 304px;
        min-height: 240px;
    }
    
    }

@media only screen and (min-width: 38rem){
    #allplaces div{
        grid-template-areas: 
        "photograph name"
        "photograph description"
        "photograph description"
        "photograph location" ;
    }
    
    #allplaces div img{
        width: 300px;
        height: 280px;
    }
}

